################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/.vs/PlaceholderTextBox/v17/.suo
